html {
  transition: background-color 0.5s, color 0.5s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: #ffffff;
    color: #393e41;
  }

  .dark {
    background-color: #393e41;
    color: #ffffff;
  }

  .yellow-mode {
    background-color: #fdf6e3;
    color: #393e41;
  }

  .stylish-y-scroll {
    @apply overflow-y-scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply theme-accent rounded-sm;
    }
  }
}

@layer utilities {
  /* For Auto background color change using their primary color */
  .theme-background {
    @apply bg-background text-text;
  }
  .dark .theme-background {
    @apply bg-dark-background text-dark-text;
  }
  .yellow-mode .theme-background {
    @apply bg-yellowMode-background text-yellowMode-text;
  }

  .theme-background-color {
    @apply bg-background;
  }

  .dark .theme-background-color {
    @apply bg-dark-background;
  }

  .yellow-mode .theme-background-color {
    @apply bg-yellowMode-background;
  }

  /* For Auto background color change using their accent color */
  .theme-accent {
    @apply bg-accent;
  }

  .dark .theme-accent {
    @apply bg-dark-accent;
  }

  .yellow-mode .theme-accent {
    @apply bg-yellowMode-accent;
  }

  /* For Auto background color change using their text color */
  .theme-bg-text-color {
    @apply bg-text;
  }

  .dark .theme-bg-text-color {
    @apply bg-dark-text;
  }

  .yellow-mode .theme-bg-text-color {
    @apply bg-text;
  }

  /* For auto border by using themes */
  .theme-border {
    @apply border border-accent;
  }

  .dark .theme-border {
    @apply border border-dark-accent;
  }

  .yellow-mode .theme-border {
    @apply border border-yellowMode-accent;
  }

  /* For auto text accent color */
  .theme-accent-text-color {
    @apply text-textAccent;
  }

  .dark .theme-accent-text-color {
    @apply text-dark-textAccent;
  }

  .yellow-mode .theme-accent-text-color {
    @apply text-yellowMode-textAccent;
  }

  .default-input-border {
    @apply bg-transparent outline-none font-medium flex-1 py-3 px-3 theme-border rounded-xl focus:border-2 cursor-input;
  }

  .default-input-label {
    @apply absolute px-1 -top-[10px] left-3 theme-background-color group-focus-within:font-bold;
  }

  .cursor-input {
    @apply cursor-default;
  }

  .dark .cursor-input {
    @apply cursor-text;
  }

  .dropdown-style {
    @apply absolute flex flex-col -z-10 opacity-0 w-full min-h-[120px] max-h-[200px] overflow-y-auto theme-border theme-background-color rounded-lg transition-all duration-300 ease-out;
  }
}
